<div class="d-flex align-items-center justify-content-center vh-100">
    <div class='wrap text-center'>
    You Are An
<h1> <b>     <%= @message %> </b></h1>
<br><br>
      <%= link_to 'Take Test Again', questions_path, class: 'glow-on-hover' %>

    </div>
</div>